################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/CodeChunks.db
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
*.targets
*.props
*.cache
/src/services/accounting/3.endpoints/api/obj/Debug/net10.0
/src/services/accounting/3.endpoints/api/obj
/src/services/accounting/1.core/resources/obj
/src/services/accounting/1.core/request-response/obj
/src/services/accounting/1.core/domain/obj
/src/services/accounting/1.core/contracts/obj
/src/services/accounting/1.core/application/obj
*.vsidx
/.vs/ModernNetAccounting.slnx/v17/DocumentLayout.json
*.bin
*.suo
*.v2
/.vs/ModernNetAccounting.slnx/v17/.suo
/.vs/ModernNetAccounting.slnx/v17/DocumentLayout.backup.json
