################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/CodeChunks.db
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/.vs/ModernNetAccounting/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
*.targets
*.props
*.cache
/src/services/accounting/3.endpoints/api/obj/Debug/net10.0
/src/services/accounting/3.endpoints/api/obj
/src/services/accounting/1.core/resources/obj
/src/services/accounting/1.core/request-response/obj
/src/services/accounting/1.core/domain/obj
/src/services/accounting/1.core/contracts/obj
/src/services/accounting/1.core/application/obj
*.vsidx
/.vs/ModernNetAccounting.slnx/v17/DocumentLayout.json
*.bin
*.suo
*.v2
/.vs/ModernNetAccounting.slnx/v17/.suo
/.vs/ModernNetAccounting.slnx/v17/DocumentLayout.backup.json
/.vs/ModernNetAccounting.slnx/v18
/.vs/ModernNetAccounting.slnx/v18/DocumentLayout.backup.json
/.vs/ModernNetAccounting.slnx/v18/DocumentLayout.json
/src/buildingblocks/src/buildingblocks.messaging.kafka/obj/Debug/net10.0/BuildingBlocks.Messaging.Kafka.GeneratedMSBuildEditorConfig.editorconfig
/src/buildingblocks/src/buildingblocks.messaging.kafka/obj/BuildingBlocks.Messaging.Kafka.csproj.nuget.dgspec.json
/src/buildingblocks/src/buildingblocks.messaging.kafka/obj/project.assets.json
/src/buildingblocks/src/common/bin/Debug/net10.0/BuildingBlocks.Common.deps.json
/src/buildingblocks/src/common/bin/Debug/net10.0/BuildingBlocks.Common.dll
/src/buildingblocks/src/common/bin/Debug/net10.0/BuildingBlocks.Common.pdb
/src/buildingblocks/src/infrastructure/obj/Debug/net10.0/BuildingBlocks.Infrastructure.pdb

# Build output
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
artifacts/

# Build output
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
artifacts/
